@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #ededed;
    background: #0a0a0a;
    font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: '100vw';
    overflow-x: hidden;
}
svg {
    font-family: var(--font-russo-one);
    width: 100%;
    height: 100%;
}
svg text {
    animation: stroke 10s infinite alternate;
    stroke-width: 2;
    stroke: #88a08b;
    font-size: 50px;
}
